/* style the list items to display score  */

#highscore-list{
    list-style:none;
    padding-left:0;
    margin-bottom: 2rem;
    font-size: x-large;
    color: lightskyblue;
    font-weight: bolder;
}

.hslist{
    font-size: 7.8 rem;
    margin-bottom: 0.5 rem;
    font-style: italic;
    font-weight: bold;
}

.hslist:hover{
    transform:scale(1.025);
    color:mediumslateblue;

}

#restart-btn{
    width:auto;
    
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.button-container {
    display:flex;
    justify-content: space-between;
    width: 20vw;
    flex-direction: row;
}


.container {
    display: flex;
    justify-content: center;
    /* width: 80vw; */
    
    align-items: center;
    max-width: 80rem;
    flex-direction: column;
    margin: 0 auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 10000;
}
@media screen and (max-width: 575px){

.button-container{
    width:50vw;
}    
.container {
    display: flex;
    justify-content: center;
    /* width:80vw; */
    align-items: center;
    max-width: 80rem;
    flex-direction: column;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    z-index: 10000;
}

}
@media screen and (max-width: 768px){

    .button-container{
        width:30vw;
    }    

}

    
