:root{
    background-color:whitesmoke;
        --primary-color: #e47d17;
        --secondary-color: #553608;
        --tertiary-color: rgb(63, 14, 104);
        --white-color: #ffffff;
        --correct-color: #6b8e23;
     
}
* {
   box-sizing:border-box;   
   /* margin :0;
   padding:0; */
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    margin-top:200px;
    z-index:10000;
  }
.container {
    display: flex;
    justify-content: center;
    /* width:80vw; */
    height: 90vh;
    align-items: center;
    max-width: 80rem;
    flex-direction: column;
    /* margin :0 auto; */
}

.center{
    justify-content: center;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;

}
/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
  }
  
  .scores a,
  .timer {
    font-size: 20px;
  }
  
  .scores a:hover {
    color: var(--tertiary-color);
    cursor:pointer;
  }
  /* END OF HEADER */

  /* Wrapper for buttons */
.button-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
.btn,
.option {
    display: flex;
    justify-content: flex-start;
    background-color:var(--primary-color);
    color:white;
    font-size:large;
    padding:10px;
    text-align:left;
    width: 40%; 
    margin-top: 10px;
    border-radius: 10px;
    border:none;
    box-shadow: rgb(230, 151, 34);
}
.btn{
    width:auto;

}
.btn:hover,
.option:hover{
    cursor:pointer;
    transform: translateY(-0.1rem);
    background-color:var(--secondary-color);
    box-shadow: rgb(31, 27, 22);
}
.btn:disabled,
.option :disabled{
    box-shadow: none;
    cursor:not-allowed;
    transform: none;
    color:gray;

}
#hs-timer-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
#hs-item{
    display:flex;
    flex-direction: column;
    justify-content:space-between;

}
#timer-item{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    

}
#bottom-note{
    margin-top:100px;
    border-top:rgb(134, 130, 130) 3px solid;
    font-style: italic;
    font-weight: lighter;
    font-size:small;
    color:lightskyblue;
}
.hide{
    display:none;
}

/* Enter your initial */
input[type="text"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
    box-sizing: border-box;
  }

  
 
 
 
 
